.inspection-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;  
    gap:2em;
    
}

.site-office-buttons {
    display: flex;
    margin-bottom:18em;
  }


.main-btn {
  
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-weight: 800;
  color: #000;
  background-color:  whitesmoke;
  opacity:0.8;
  border: red;
  /* border-radius: 45px; */
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.main-btn:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
  /* border-radius: 50%; Apply the same border-radius as the main button */
}

.main-btn:active {
  transform: translateY(-1px);
  box-shadow: 0px 6px 10px rgba(46, 229, 157, 0.4);
  /* border-radius: 50%; Apply the same border-radius as the main button */
}
